/*来自于淘宝的初始化*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
html{
	height: 100%;
}
body{
	 font-family: "微软雅黑";
	 text-align: center;
	 background: #333333;
	 overflow: auto;
	 display: block;
	 width: 100%;
	 margin: 0 auto;
	 height: 100%;
}
.header{
	position: relative;
	background: #006600;
	height: 120px;
	border:1px;
	width:1210px;
	display: block;
	margin: 0 auto;
}
.main_content{
	width: 1210px;
	border:1px;
	display: block;
	margin: 0 auto;
	min-height: 85%;
}
.artical{
	background: #666600;
	width: 80%;
	border:1px;
	display: block;
	float: left;
	height: 100%;
}
.aside_tag{
	background: #006666;
	width: 20%;
	border:1px;
	display: block;
	float: right;
}
.footer{
	width: 100%;
	clear: both;
	display: block;
	height: 50px;
}
.logo{
	position: absolute;
	left: 40px;
	top: 50px;
}

